body{
    
    background-image: url('../image/bbb.png');

   
    background-size: cover; 
    background-position: center; 
   
    width: 100%;
    height: 400px; 
  
}
.logo{border-radius: 50%;
         width:5%;
        height:25%;
        margin :0 13%;}
 .logo:hover {
            transform: scale(1.2); 
 }
p{  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    width:100%;
    position:fixed;
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #e9e7e7;
}

li {
    margin: 0 30px;

}

.nav{
    text-decoration: none;
    color:rgb(31, 29, 29);
    padding: 8px 12px;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nav:hover {
    background-color: rgba(140, 224, 230, 0.604);
    font-size: 23px;
  
}

.projet1 {
    border-radius: 3%;
    background-color: rgba(177, 206, 209, 0.604);
    margin: 0 13%;
    padding: 20px;
    font-family: Arial, sans-serif;
}


.projet1 ol {
    list-style: decimal;
    margin-bottom: 15px;
    padding-left: 20px;
    color: #333; }


.imgproj img {
    width: 200px; 
    height: auto;
    margin: 10px; 
    border-radius: 10px; 
    transition: transform 0.3s ease-in-out; 
}


.imgproj img:hover {
    transform: scale(5); 
}


.projet1 a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #4285F4; 
    border-bottom: 1px dashed #4285F4; 
    transition: border-bottom 0.3s ease-in-out; 
}

.projet1 a:hover {
    border-bottom-style: solid; 
    color: #FF5733; 
}
.container{padding-top: 3%;}
.conttt{  width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}