body{
    background-image: url('../image/bbb.png');
    margin:0;
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 400px; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{border-radius: 50%;
    width:5%;
   height:25%;
   margin :0 13%;}
.logo:hover {
       transform: scale(1.2); 
}





ul {
    width:100%;
    position:fixed;
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #e9e7e7;
}

li {
    margin: 0 30px;

}

.nav {
    text-decoration: none;
    color:rgb(31, 29, 29);
    padding: 8px 12px;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nav:hover {
    background-color: rgba(32, 175, 210, 0.604);
    font-size: 23px;
  
}
.container{padding-top: 3%;}

.contaiiner {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .info {
    margin-top: 20px;
  }
  
  .info p {
    margin-bottom: 10px;
    line-height: 1.6;
  }
  
  .info strong {
    font-weight: bold;
    color: #0066cc;
  } 
  .lie {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #4285F4; 
    border-bottom: 1px dashed #4285F4; 
    transition: border-bottom 0.3s ease-in-out; 
}
.lie:hover {
    border-bottom-style: solid; 
    color: #FF5733; 
}
  
.conttt{  width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(177, 206, 209, 0.604);
}
